*{
    margin:0px;
    padding:10px;
}
body{
  background-color:rgb(223, 209, 209);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(34, 104, 104);
}

h3{
    color: antiquewhite;
}
.all-cards{
    border-radius:30px;
    border:10px solid black;
    background-color:rgb(155, 193, 204);
    height:auto;
    width:1400px;
    position: relative;
    align-items: center;
    font-weight:bold;
}

/*static position*/
.static{
   background-color: rgb(182, 58, 120);
   position: static;
   font-style:bold;
   width: 300px;
   height: 130px;
   box-shadow:25px 15px 15px rgb(85, 82, 82);
   border-radius:30px;
   border-style:solid;
   margin:100px;
   padding: 10px;;
}

/*relative position*/
#relative{
   background-color: rgb(102, 27, 201);
   position:relative;
   top:20px;
   left:400px;
   width: 300px;
   height: 130px;
   box-shadow:25px 15px 15px rgb(85, 82, 82);
   border-radius:30px;
   border-style:solid;
   margin:100px;
   padding: 10px;
}

/*absolute position*/
.absolute{
   background-color: rgb(16, 141, 114);
   position:absolute;
   top:30px;
   right:100px;
   width: 300px;
   height: 130px;
   box-shadow:25px 15px 15px rgb(85, 82, 82);
   border-radius:30px;
   border-style:solid;
   margin:100px;
   padding: 10px;;
}

/*fixed position*/
.fixed{
   background-color: rgb(107, 16, 110);
   position:fixed;
   top:370px;
   right:100px;
   bottom: 50px;
   scroll-padding-bottom: auto;
   width: 300px;
   height: 130px;
   box-shadow:25px 15px 15px rgb(85, 82, 82);
   border-radius:30px;
   border-style:solid;
   margin:100px;
   padding: 10px;
   z-index: 1000;
}

/*sticky position*/
.sticky{
   background-color: rgb(177, 89, 89);
   position:sticky;
   top:10px;
   width: 300px;
   height: 130px;
   box-shadow:25px 15px 15px rgb(85, 82, 82);
   border-radius:30px;
   border-style:solid;
   margin:100px;
   padding: 10px;;
}

